html, body {
    height: 100%;
    margin: 0;
}

body {
    background: url("imag/IMG_7346.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #6200ea;
    color: white;
    padding: 1rem;
    text-align: center;
}

.container{
    padding-top: 40px;
}

.lead{
    position: relative;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    font-family: bold;
}

.misi-visi{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.botones{
    display: flex;
    justify-content: center;
    margin:20px auto;
}

.misi, .visi{
    background-color: rgb(255, 255, 255, 0.3);
    margin: 1rem;
    border-radius: 10px;
    backdrop-filter:blur(3px);
}

.btn-pastores, .btn-filiales, .btn-directiva,.btn-miembros,.btn-redes {
    background-color: #4c08ec;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    margin: 10px;
    text-align: center;
    /* padding: 0px 10px 0px 0px 10px; */
}

.btn-pastores:hover,
.btn-filiales:hover,
.btn-directiva:hover,
.btn-miembros:hover,
.btn-redes:hover {
    background-color: #2f0397;
    cursor: pointer;
}

/* @media(max-width:600px){
.btn-pastores:hover,
.btn-filiales,
.btn-directiva,
.btn-miembros,
.btn-redes{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
} */